{{!-- Create table and form for insert functionality --}}
<nav>
    <a href="shoppers">Shoppers</a>
    <a href="sellers">Sellers</a>
    <a href="clothing_items">Clothing Items</a>
    <a href="orders">Orders</a>
    <a href="order_details">Order Details</a>
</nav>

<h1>Thrifty Finds Orders</h1>